<div *ngIf="loggedIn">
    <mfeMatCard>
        <mfeFacebook></mfeFacebook>
    </mfeMatCard>

</div>

<ng-container *ngIf="!loggedIn">
    Please <a href="/login">Login</a> to see the home page content
</ng-container>