<!-- <h1>mfe1</h1> -->

<!-- <mfe1-upload></mfe1-upload> -->
<!-- <mfe1-download></mfe1-download> -->
<div style="border: 1px; border-style: dashed; border-color: blue; padding: 10px;">

    <img width="400px" src="https://market.towist.com/libs/instagram/assets/insta.png">
    <div>
        Lets share images together
        <!-- <div>
            <button style="width: 100px; height: 50px; background-color: rgb(61, 61, 250);
            color: white; margin-top: 10px; margin-left: 100px;">Login</button>
        </div> -->
    </div>
    <div>
        {{postReceived}}
    </div>
</div>