<ul class="header">
    <li><img src="" width="50"></li>

    <ng-container>
        <li (click)="navigate(item.link)" *ngFor="let item of items"><a>{{item.text}}</a></li>
    </ng-container>
    
</ul>